@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">chismosillo, no eres admin.</p>
    <img id="imagen33" class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZrzWYm-DSrLJFRRt4VOxjfV-BqlWtDqu-DQ&usqp=CAU" />
    @section Css {
        <link href="~/css/error.css" rel="stylesheet" />
    }
</header>
