@model Prueba002.Models.dbModels.Genero

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Genero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenGenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagenGenero)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.IdGenero">Editar</a> |
    <a class="btn btn-info" asp-action="Index">Volver a la lista</a>
</div>
