@{
    ViewData["Title"] = "Administración";
}

<h1>Bienvenido Administrador</h1>
<a class="btn btn-dark" asp-controller="Albums1" asp-action="Index" class="link-dark"><h5 class="card-title">Albums</h5></a><br />
<a class="btn btn-dark" asp-controller="Artistums" asp-action="Index" class="link-dark"><h5 class="card-title">Artistas</h5></a><br />
<a class="btn btn-dark" asp-controller="Generoes" asp-action="Index" class="link-dark"><h5 class="card-title">Generos</h5></a><br />
<a class="btn btn-dark" asp-controller="Tests" asp-action="Index" class="link-dark"><h5 class="card-title">Test</h5></a><br />
<a class="btn btn-dark" asp-controller="PreguntaTests" asp-action="Index" class="link-dark"><h5 class="card-title">Pregunta test</h5></a><br />
<a class="btn btn-dark" asp-controller="Listums" asp-action="Index" class="link-dark"> <h5 class="card-title">Crea una lista</h5></a><br />
<a class="btn btn-dark" asp-controller="ListaAlbums" asp-action="Index" class="link-dark"> <h5 class="card-title">lista</h5></a><br />
<a class="btn btn-dark" asp-controller="ApplicationUsers" asp-action="Index" class="link-dark"><h5 class="card-title">Usuarios</h5></a>
