@{
    ViewData["Title"] = "Administración";
}

<br>
<h1 class="text-center display-4">Bienvenido Administrador</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-dark pt-4 pb-4" asp-controller="Albums1" asp-action="Index" class="link-dark"><h5 class="card-title">Albums</h5></a><br />
            <a class="btn btn-dark pt-4 pb-4" asp-controller="Artistums" asp-action="Index" class="link-dark"><h5 class="card-title">Artistas</h5></a><br />
            <a class="btn btn-dark pt-4 pb-4" asp-controller="Generoes" asp-action="Index" class="link-dark"><h5 class="card-title">Generos</h5></a><br />
            <a class="btn btn-dark pt-4 pb-4" asp-controller="Tests" asp-action="Index" class="link-dark"><h5 class="card-title">Test</h5></a><br />
        </div>
        <div class=col>
            <a class="btn btn-dark pt-4 pb-4" asp-controller="PreguntaTests" asp-action="Index" class="link-dark"><h5 class="card-title">Pregunta test</h5></a><br />
            <a class="btn btn-dark pt-4 pb-4" asp-controller="Listums" asp-action="Index" class="link-dark"> <h5 class="card-title">Crea una lista</h5></a><br />
            <a class="btn btn-dark pt-4 pb-4" asp-controller="ListaAlbums" asp-action="Index" class="link-dark"> <h5 class="card-title">lista</h5></a><br />
            <a class="btn btn-dark pt-4 pb-4" asp-controller="ApplicationUsers" asp-action="Index" class="link-dark"><h5 class="card-title">Usuarios</h5></a>
        </div>
    </div>

</div>


