@{
    ViewData["Title"] = "Dinámicas";
}

<h1>¡Realiza una dinámica!</h1>
<br />
<div class="container-fluid">
    <div class="container">
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
                <a asp-controller="Test" asp-action="Index" class="link-dark"><h5 class="card-title">Toma un test</h5></a>
            </div>
        </div>
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
                <a asp-controller="Listums" asp-action="Index" class="link-dark">
                    <h5 class="card-title">Crea una lista</h5>
                </a>
            </div>
        </div>
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
                <a asp-controller="#" asp-action="#" class="link-dark"><h5 class="card-title">Descubre listas nuevas</h5></a>
            </div>
        </div>
    </div>
</div>
@section Css {
    <link href="~/css/dinamicas.css" rel="stylesheet" />
}