@{
    ViewData["Title"] = "Explorar";
}

<h1>¡Explora diferentes géneros musicales!</h1>

<p>(Aquí vamos a agregar los botones de los géneros que después enviarán a los diferentes álbumes de ese género)</p>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="https://via.placeholder.com/300" alt="Álbum 1" class="album">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://via.placeholder.com/300" alt="Álbum 2" class="album">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://via.placeholder.com/300" alt="Álbum 3" class="album">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://via.placeholder.com/300" alt="Álbum 4" class="album">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://via.placeholder.com/300" alt="Álbum 5" class="album">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://via.placeholder.com/300" alt="Álbum 6" class="album">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://via.placeholder.com/300" alt="Álbum 7" class="album">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://via.placeholder.com/300" alt="Álbum 8" class="album">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://via.placeholder.com/300" alt="Álbum 9" class="album">
        </div>
    </div>
</div>