@{
    ViewData["Title"] = "Explorar";
}

<h1>¡Explora diferentes géneros musicales!</h1>

<p>(Aquí vamos a agregar los botones de los géneros que después enviarán a los diferentes álbumes de ese género)</p>