@{
    ViewData["Title"] = "Home Page";
}

<!--seccion de introduccion a la pagina-->
<div class="header">
    <div class="header-background">
        <div class="container">
            <div class="header-inner-wrap">
                <div class="header-info">
                    <h3>Explora un poquito más acerca de la música y compártenos un poco más de tu mundo musical!</h3>
                    <p>Mostramos un poquito de la interaccion social que se puede tener de la música esperando que tengas una buena experiencia aquí. Nunca dejes de explorar.</p>
                        <a class="btn btn-secondary">
                            Comienza a buscar generos aqui!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--seccion misteriosa donde va la api de lastfm MENTÌ DMS VAN IMAGENES NOMAS-->
<hr />
<div class="container">
    <p>Artistas mas escuchados</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="imagenes/imgprueba.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="imagenes/imgprueba.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="imagenes/imgprueba.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br><hr />
    <p>Albumes mas escuchados</p>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="imagenes/imgprueba.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="imagenes/imgprueba.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="imagenes/imgprueba.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<hr>
<!--seccion para enviar sugerencias de la página-->
<div class="container-sm">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" id="form">Dejanos tu sugerencia!</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> <br />
       <br><button type="submit" class="btn btn-dark mb-3">Enviar</button>
    </div>
</div>
