html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
h3 {
text-align:center;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:monospace;
}
.container-sm {
    background-color: #301c41;
    padding-bottom: 17px;
    padding-top: 30px;
}
.header-background {
    color: white;
    background-color: #301c41;
    height: 100%;
}

.header-inner-wrap {
    padding-top: 38px;
    padding-bottom: 20px;
}

.carousel-inner {
    height: 555px;
}

.btn {
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}
#form {
    color: white;
}
#imagen1 {
    display: block;
    width: 60%;
    margin: auto;
}
#imagen2 {
    display: block;
    width: 60%;
    margin: auto;
}
#imagen3 {
    display: block;
    width: 60%;
    margin: auto;
}
#imagen4 {
    display: block;
    width: 60%;
    margin: auto;
}
#imagen5 {
    display: block;
    width: 60%;
    margin: auto;
}
#imagen6 {
    display: block;
    width: 60%;
    margin: auto;
}
p {
    text-align: center;
}
.x {
    background-color: #e5b3fe;
}