html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav {
    background-color: #BB9CC0;
}

h3 {
text-align:center;
}

body {
    margin-bottom: 60px;
    font-family: monospace;
    background-color: white;
}

.container-sm {
    background-color: #301c41;
    padding-bottom: 17px;
    padding-top: 30px;
}
.header-background {
    color: white;
    background-color: #301c41;
    height: 100%;
}

.header-inner-wrap {
    padding-top: 38px;
    padding-bottom: 20px;
}

.carousel-inner {
    height: 555px;
}

.btn {
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

.btn:hover, .nav-link:hover {
    font-weight: bold;
    color: #301c41;
    background-color: #BB9CC0;
}

#form {
    color: white;
}

#imagen {
    display: block;
    width: 60%;
    margin: auto;
}

p {
    text-align: center;
}

.x, .bgButton {
    background-color: #e5b3fe;
}

.album {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.album:hover {
    transform: scale(1.1);
}