@model Prueba002.Models.dbModels.Test

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro de que quieres eliminar el Test?</h3>
<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloTest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloTest)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTest" />
        <input type="submit" value="Delete" class="btn btn-danger" /> <br />
        <a class="btn btn-info" asp-action="Index">Volver a la lista</a>
    </form>
</div>
