@model Prueba002.Models.dbModels.Test

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloTest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloTest)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.IdTest">Editar</a> <br />
    <a class="btn btn-info" asp-action="Index">Volver a la lista</a>
</div>
