@model Prueba002.Models.dbModels.ListaAlbum

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>ListaAlbum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdLista" class="control-label"></label>
                <select asp-for="IdLista" class ="form-control" asp-items="ViewBag.IdLista"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdAlbum" class="control-label"></label>
                <select asp-for="IdAlbum" class ="form-control" asp-items="ViewBag.IdAlbum"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaAgregado" class="control-label"></label>
                <input asp-for="FechaAgregado" class="form-control" />
                <span asp-validation-for="FechaAgregado" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
